.App {
  margin: 16px;
}

.greeting {
  width: 80%;
  margin: 16px auto;
  border: 1px solid black;
  box-shadow: 0 2px 3px grey;
  padding: 16px;
  text-align: center;
}

.input {
  width: 50%;
  margin: auto;
  font-variant: small-caps;
  font-size: 25px
}